#The one-step analysis and compilation flow is used to support legacy ICE 

veanalyze  ../../mips_16/rtl/mips_16_defs.v  ../../mips_16/rtl/alu.sv ../../mips_16/rtl/data_mem.sv ../../mips_16/rtl/EX_stage.sv ../../mips_16/rtl/hazard_detection_unit.sv ../../mips_16/rtl/ID_stage.sv ../../mips_16/rtl/IF_stage.sv ../../mips_16/rtl/instruction_mem.sv ../../mips_16/rtl/MEM_stage.sv ../../mips_16/rtl/mips_16_core_top.sv ../../mips_16/rtl/mips_if.sv ../../mips_16/rtl/register_file.sv ../../mips_16/rtl/WB_stage.sv ./mips_16_top.sv

#Allow 4 state value
rtlc -allow_4ST

#Declare top level module 
comp -top mips_16_top

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D1S

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy 